

.wrapper {
    width: 700px;
    margin: 0 auto;
    background-color: #fff;
    padding: 10px;
}


header, footer {
    background-color: ghostwhite;
    padding: 20px;
}

main {
    background-color: cornsilk;
    padding: 20px;
}


.layout-sidebar {
    display: grid;
    gap: 10px;
    grid-template-columns: 2fr 1fr;
}

#logo-header {
    width: 60px;
    height: 60px;
}